# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo
*.pot

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
downloaded_files/

# IDEs
.idea
.vscode
.ruff_cache

# Other
Video
note.txt
cmd.txt
scripts.json
active_requests.json
working_proxies.json
start.sh
.DS_Store
GUI/db.sqlite3
console.log
/conf/domains.json
/.cache
.planning/phases/01-fastapi-backend-foundation
.serena
.planning
GUI/conf
